body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 18pt;
	font-family: 'Audiowide';
}

.header {
	height: 550px;
	background: no-repeat;
	background-size: cover;
}
.header a {
	font-size: 24pt;
	color: #fff;
	margin: 50px 0 0 50px;
	display: block;
	font-family: 'Audiowide';
	text-decoration: underline;
}

.header a:hover{
	text-decoration:none;
	
}

.header p {
	font-size: 50pt;
	color: #fff;
	margin-top: 150px;
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
}

@media screen and (max-width:760px){
	.header {
		height: 300px;
	}
	.header p {
		display: none;
	}
	.header a {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		font-size: 14px;
	}
}

.main-menu {
	width: 100%;
	background-color: #22173d;

}

.main-menu li {
	display: inline-block;
	padding: 0 50px;
	margin-left: 15px;
}


@media screen and (max-width:760px) {
	.main-menu {
		padding: 0;

	}
	.main-menu li {
		display: block;
		text-align: center;
		width: 100%;
	}
}


.main-menu li a {
	color: white;
	font-size: 24pt;
	line-height: 100px;
	display: block;
	font-family: 'Audiowide';
	
}

.main-menu li:hover {
	background-color: #000000;
	transition: .5s;
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
}


.gallery img {
	width: 100%;	
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
	
}
.gallery div {
	padding: 5px;
	margin-bottom: 15px;
	
}
.gallery p {
	font-size: 21pt;
	color: white;
	margin-top: 2px;
	text-align: center;
	font-family: 'Audiowide', cursive;

}
@media screen and (max-width:760px) {
	
	.gallery p {
		font-size: 16pt;
	
	}
 
}


.gallery img:hover {
	transition: all .3s ease-in-out; 
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: drop-shadow(8px 8px 10px white);
}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
}


}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 18pt;
}
.overlay p a {
	color: white;
	text-decoration: none;
}





.contact-form {	
	background-color: #000000;
	padding: 100px;
}
.contact-form h1 {
	color:white;
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.form-control {
	height: 40px;
	border-radius: 30;
	border: 1px solid white;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #311966;
	color: #fff;
	border-radius: 40;
}
.btn-default {
	border: 0;
}


.footer {
	height:400px;
	background: url('img/Rectangle.png') no-repeat;
	background-size: cover;

}
.footer img {
	margin: 100px 0 0 100px;
}	

.footer ul {
	margin-top: 100px;
	float: right;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: white;
	font-size: 18pt;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	text-decoration: none;
}

@media screen and (max-width:760px) { 
	.footer img {
		width: 50%;
		margin: 80px auto 0 auto;
		display: block;
	}
	.footer ul {
		margin: 80px 0 0 0;
		text-align: center;
		float: none;
	}
	.footer ul li {
		display: block;
	}
}

.square-blocks div {
	height: 250px;	
}
.square-blocks .light-grey-bg {
	background-color: #311966;
}
.square-blocks .dark-grey-bg {
	background-color: #000000;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18pt;
	text-transform: uppercase;
	color: #ffff;
}

.square-blocks a {
	color: white;
}

.square-blocks a:hover {
	color: #8f42f4;
	text-decoration: none;
}

.section {
	margin: 50px 0;
}

.section h1 {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
}
.about-me img,
.article img {
	width: 100%;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.square-blocks span {
	font-size: 52pt;
	
}

.about-me-image {
	padding-left: 0px;
}

@media screen and (max-width:500px){
.about-me-text {
	font-size: 10pt;
	width: 100%;
	text-align: center;
}
}

@media screen and (max-width:500px){
	.square-blocks p {
		font-size: 6pt;
	}

#vegas {
	height: 500px;
}
